body{
	margin:0;
	padding: 0;
	padding: 20px;
}
#container{
	padding: 20px;
	border: 1px solid #999;
	background-color: #eee;
	/*overflow: hidden;*/
	position: relative;
}
/*原来这个类要放在float元素的父元素上
，而不是元素本身*/
.clearfix:after,.clearfix:before{
	content: "";
	display:block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#teamLogo{
	float: left;
	width: 200px;
	background-color: white;
	border: 1px solid #999;
	margin-right: 20px;

}
#teamLogo img{
	width: 80px;
	height: 80px;
	float: left;
	padding: 20px;
}
#teamLogo p{
	text-align: center;
}


#introduction{
	border: 1px solid #999;
	background-color: white;
	display: block;
	position: absolute;
	left: 240px;
	right: 180px;
	padding:20px;
}
/*#introduction{
	border: 1px solid #999;
	background-color: white;
	display: block;

}*/
#personalLogo{
	float: right;
	width: 120px;
	border: 1px solid #999;
	background-color: white;
	
}
#personalLogo img{
	display: block;
	width: 80px;
	height: 80px;
	margin: 20px;
}
