body{
	padding: 0px;
	margin: 0px;
}
#center_block{
	position: absolute;
	width: 400px;
	height: 200px;
	background-color: #ccc;
	top:50%;
	margin-top: -100px;
	left: 50%;
	margin-left: -200px;
}
/*#center_block #c1{
	position: absolute;
}
#c2{
	transform:translate();
	fill:blue;
}*/