/*reset*/
html,body,ul{ 
	padding: 0; 
	margin: 0; 
}
body{
	font-family: '微软雅黑';
	background-color: #dedede;
} 
/*header*/
#header{
	width: 100%;
	height: 100px;
	background-color: #333;
	position: relative;
}
#header ul{
	right:0;
	position: absolute;
	top:50%;
	transform: translateY(-50%);

}
#header img{
	height: 60px !important;
	margin-left: 50px;
	position: absolute;
	top:50%;
	margin-top: -30px;
}
/*#header nav{
	position: absolute;
	right:0;
	top: 50%;
	transform: translateY(-50%);
}*/
#header ul li{
	float: right;
	list-style-type: disc;
}
#header ul li a{
	color: white;
	text-decoration: none;
	margin-right: 30px;
}
#list4{
	color: grey !important;
}
/*first article*/
article{
	background-color: white;
	margin: 20px 580px 20px 10px;
	padding: 30px 20px 30px 30px;
	box-shadow: 4px 4px 4px grey;
	/*float: left;*/
}
article img{
	width: 20%;
}
article p{
	line-height: 30px;
}
article p.textIndentPara{
	text-indent: 2em;
}
article h3,.articleInfo{
	color: grey;
}
#article2 ul{
	width: 100%;
	list-style: none;
	margin-left: 30px;
}
#article3 ul li{
	width: 200px;
	border: 2px solid lightgrey;
	margin-bottom: 40px;
	margin-left: 40px;
	list-style: none;
	display: inline-block;
	
}
#article3 ul li p{
	text-align: center;
}
#article3 ul li img{
	width: 80%;
	margin:0 10% 10px 10%;
	border: 1px solid lightgrey;
}
#article4 table{
	width: 90%;
	border:1px solid grey;
	border-collapse: collapse; 
	border-spacing: 0;
}
#article4 table th{
	color: white;
	text-align: left;
	background-color: black;
}
#article4 table td{
	border: 1px solid #ccc;
}
#lastLine td{
	background-color: grey;
	border:0 !important; 
}


aside{
	float: right;
	width: 450px;
	background-color: white;
	margin: 20px 20px 20px 10px;
	padding: 30px 20px 30px 30px;
	box-shadow: 4px 4px 4px grey;	
}
aside h1{
	border-left: 5px solid grey;
	padding: 20px 0 20px 20px;
}
aside form{
	width: 90%;
}
aside form div{
	margin-left:30px; 
	width: 350px;
	margin-bottom: 20px;
	position: relative;
	clear: both;
}
aside form div:after{
	content: "";
	display:block;
	height: 0;
	clear: both;
	visibility: hidden;
}
aside form div input[type="text"]{
	width: 150px;
	font-size: 15px;
	margin-left: 10px;
	display: inline;
	float: right;
	margin-right: 50px;
}
aside form div input[type="password"]{
	width: 150px;
	font-size: 15px;
	margin-left: 10px;
	display: inline;
	float: right;
	margin-right: 50px;
}
aside form div span{
	display: inline;
	position: absolute;
	right: 230px;
}
aside form div p{
	clear: both;
	margin-left: 150px;
	padding-top: 10px;
	color: grey;
}
/*aside form div input[type="radio"]{
	float: right;
}*/
.genderGroup div{
	width: 200px;
	margin-left: 140px;
	display: inline-block;
}
aside form div select{
	margin-left: 145px;

}
.hobbyGroup div{
	width: 200px;
	margin-left: 140px;
	display: inline-block;
}
aside form  textarea{
	margin-left: 166px;
	width: 180px;
	height: 150px;
	font-size: 18px;
	font-weight: bold;
}
aside form input[type="submit"]{
	width: 100%;
	margin-top: 10px;

	height: 50px;
	background-color: blue;
	color:white;
	font-weight: bold;
	font-size: 18px;
	border-radius: 15px;
}

footer{
	width: 100%;
	max-height: 200px;
}
footer div{
	background-color: black;
	width: 100%;
	height: 120px;
	display: flex;
	justify-content:center;
	align-items:center;
}
footer div p{
	color:white;
}
